# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcarchive

# User-specific Xcode files
xcuserdata/
*.xcuserstate

# Local packaging/build products
Packaging/*/Products/

# Temporary files
*.swp
*.tmp